body {
    margin-left:0px;
    margin-right:0px;
    padding-left:0px;
    padding-right:0px;
    /*font: 13.34px Verdana, helvetica, arial, clean, sans-serif;*/
    /*font-family: "Consolas", "Monaco", "Courier New", "Courier", monospace;*/
    font-size:100%
}
.wrapper {
    min-width:220px;
    max-width: 884px;
    margin-left: auto;
    margin-right: auto;
    /*padding-left:20px;
    padding-right:20px;*/
    padding-left:13px;
    padding-right:13px;
}
/*****************************************************************************/

/* style, links.. in order
/*****************************************************************************/
.header {
    margin:10px 0px 10px 0px;
    min-width:220px;
    max-width:884px;
    border-radius: 5px 5px 5px 5px;

    background-color: $smokey-topaz-platform;
    border: 2px outset $smokey-topaz-stroke;
    // border-top: 1px solid rgba(0, 0, 0, 0.1);
    // border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.logoText {
    margin: 0px auto 0px auto;
    width:240px;
    line-height: 80px;
    // background-color: $shadow-blue-platform;
    // border: 2px outset $shadow-blue;
    > a {
        -webkit-text-fill-color: $smokey-topaz;
        -webkit-text-stroke-width: .1px;
        -webkit-text-stroke-color: rgba(0, 0, 0, .4);
        font-family: $title-secondary-font-family;
        font-weight: bolder;
        font-size: 80px;
        // cursor: default;
        &:hover {
    		text-decoration: none;
        }
        &:hover,
        &:focus {
            // color: $colHighlight;
        }

        > span {
            color: #000000;
            -webkit-text-fill-color: #000000;
            -webkit-text-stroke-width: 0px;
            position:absolute;
            margin-top:34px;
            margin-left:-80px;
            font-family: $title-font-family;
            font-weight: 400;
            font-size: 38px;
            opacity:.8;
            text-shadow: 1px 3px 0px rgba(0, 0, 0, .4);
            z-index: 1;
        }
    }
}

// nav text organization style 1
.videosText {
	margin: 0px auto 2px auto;
	width: 220px;

    // make dynamic variable
    // background-color: $human-skin + (alpha);
	// background-color: $human-skin;

    background-color: $shadow-blue-platform;
    border: 2px outset $shadow-blue;

    text-align:center;
    font-size: 20px;
    > a {
    	font-family: $font_family_consolas;
    	color: #000000;
        text-decoration: none;
    	&:hover {
    		// display: inline-block;
    		// text-align: center;
    		// width: 60px;
    		font-family: $font_family_consolas;
    		color: #000000;
    		text-decoration: underline;
    	}
    }
}

// nav text organization style 2
.aboutText {
	margin: 0px auto 16px auto;
    display:block;
	width: 220px;

    // make dynamic variable
    // background-color: $human-skin + (alpha);
	// background-color: $human-skin;

    background-color: $shadow-blue-platform;
    border: 2px outset $shadow-blue;

    text-align: center;
    font-size: 20px;
	text-decoration: none;
	font-family: $font_family_consolas;
	font-size: 20px;
	color: #000000;
	&:hover {
		// display: inline-block;
		// text-align: center;
		// width: 60px;
		font-family: $font_family_consolas;
		color: #000000;
		text-decoration: underline;
	}
}

.rainbow-fill {
    font-size: 20px;
    font-family: "Arial Black", Gadget, sans-serif;

    background: -webkit-linear-gradient(left, orange , yellow, cyan, violet); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, orange, yellow, cyan, violet); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, orange, yellow, cyan, violet); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, orange , yellow, cyan, violet); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title-style {
    display:block;
    margin-bottom:10px;
    text-align:left;
    line-height: 20px;
    height:19px;
    // set in scss variable
    color:rgba(255, 255, 255, 1);
    // color:rgba(0, 0, 0, 1);
    background-color:rgba(0, 0, 0, .1);
    text-shadow: 3px 2px 0px rgba(180, 180, 180, .8);
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    font-family:"Consolas", "Monaco", "Courier New", "Courier", monospace;
    /*padding:0px 0px 0px 4px;
    margin:0px;*/
    font-weight:bold;
}
a {
    text-decoration:none;
    color:#0383c9;
}
a:hover {
    text-decoration:underline;
    color: #f5a2c6;
}
.blogItem a {
    display:block;
    text-align: left;
    /*padding:4px;*/
    margin:8px auto 8px auto;
    border-bottom: 1px dotted black;
    /*background: rgba(102,128,153,.02);*/
    /*border-bottom:1px solid rgba(180, 180, 180, .7);*/
    /*
    text-decoration: none;
    color: #000;
    */
    /*font-size: 98%;*/
}
.blogItem a:hover {
    /*background: rgba(102,128,153,.02);*/
    /*border-bottom: 2px dotted #FF80FF;*/
    /*font-weight:bold;*/
    font-size: 100%;
}
.blogNav {
    min-width:220px;
    max-width:884px;
    padding:0px;
    margin:0px;
    color: #000;
    text-align:left;
}
.blogNav span {
    display:block;
    text-align:left;
    line-height: 20px;
    height:19px;
    color:#FFF;
    background:#000;
    text-shadow: 3px 2px 0px rgba(180, 180, 180, .35);
    font-family:"Consolas", "Monaco", "Courier New", "Courier", monospace;
    /*padding:0px 0px 0px 4px;*/
    margin:0px;
    font-weight:bold;
}
.alignleft {
    float: left;
    text-shadow: 3px 2px 0px rgba(180, 180, 180, .15);
}
.alignright {
    float: right;
    text-shadow: 3px 2px 0px rgba(180, 180, 180, .15);
}
/*
.blogNav a[href] {
text-decoration: none;
border-bottom: 1px dotted black;
padding:6px;
margin:8px auto 8px auto;
color: #000;
font-size: 98%;
}

.blogNav a[href]:hover {

font-size: 100%;
font-weight:bold;
}

.noLink {
color: black;
}
*/
.bulletbobbit {
    display:block;
    float:right;
    /*background:rgba(210, 0, 100, .1);*/
    color:rgba(0, 0, 0, 1);
    text-shadow: 2px 1px 1px rgba(0, 0, 0, .2);
    /*height:12px;
    line-height:4px;*/
    /*    text-shadow: 3px 2px 0px rgba(180, 180, 180, .22);*/
    padding:2px 0px 1px 0px;
    margin-top:5px;
    font-size:20px;
}
img {
    border:1px solid rgba(180, 180, 180, .2);
}
.centermd {
    text-align:center;
}
.heytellTable {
    width:50%;
    word-break: break-word;
    /*    margin-left:auto;
    margin-right:auto;*/
    margin-bottom:15px;
}
.heytellTable tr td:nth-child(2) {
    width:78%;
}

.sprite {
    width:394px;
    height:460px;
    background-image:url(/images/ableton-reaper-blogpost/ht-spritesheet.png);
}
